*{
    margin: 0;/* 全てのマージンを0 */
    padding: 0;/* 全てのパディングを0 */
}

header{
    position: fixed;/* スクロールに追従する */
    width: 100%;/* ヘッダーを左右両端に */
    background-color: #1A48A6;/* ヘッダー背景を指定の色に */
    padding: 12px 0px;/* ヘッダーのパディングを指定の値に設定 */
}


.header_menu{
    display: flex;/* メニューを横並び */
    max-width: 1000px;/* divの幅 */
    margin: 0 auto;/* 上下のマージンを0にして左右のマージンを自動調整 */
    justify-content: space-between;/* 要素を指定範囲内で両端かつ均等に配置 */
    padding: 0 20px;/* 横幅を狭めたときに両端にテキストが両端に接しないように第2回課題時に追加 */
    white-space: nowrap;/* メニューが縮んでもダミーサイトを改行しない→第2回課題で追加 */
}

.header_menu ul{
    display: flex;/* メニューを横並び */
    list-style-type: none;/*メニュー前の点を消す */
    width: 450px;/* ulの幅 */
    justify-content: space-between;/* 要素を指定範囲内で両端かつ均等に配置 */
}

a{
    color: white;/* テキストカラー */
    font-size: 20px;/* テキストサイズ */
    text-decoration: none;/* リンクのアンダーライン消去 */
    cursor: pointer;/* カーソルを乗せるとポインターになる */
}

a:hover{
    opacity: 0.5; /* マウスホバーで50%透過 */
}

.background /* 第2回課題でkv以下にコンテンツ作成のため、bodyからdiv backgroundへ変更 */{
    background-image: url(../img/body_bg_kv.png); /* 画像を相対パスで指定 */
    background-size: cover; /* 画像を画面いっぱいに拡大（縦横比は維持） */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返し表示をさせない */
}

.center_text{
    display: grid;/* グリッドのセルを配置 */
    place-items: center; /* 縦横中央揃え */
    height: 100vh; /* 画面と同等の高さを設定 vh→ビューポートハイト*/
    font-size: 100px; /* フォントサイズを設定 */
}

.service{
    text-align: center;/* サービスを中央に */
    padding: 30px;/* サービスの上下の余白 */
    font-weight: bold;/* サービスを太字に */
    font-size: xx-large;/* サービスの文字サイズを大きく */
}

.service_menu{
    display: flex;/* サービスメニューを横並び */
    max-width: 780px;/* 横幅1440pxの時点より755px時点の方がサービスメニューのボックス間が若干狭くなるように */
    margin: 0 auto;/* 横幅が狭くなった時にサービスメニューのボックス間が狭くなるように */
    justify-content: space-between;/* 横並びしたサービスメニューを両端且つ均等に */
    padding: 0 10px;/* ●●●修正箇所●●●未設定から0 10pxへ  横幅が狭くなった時にブラウザの両端にサービスメニューのボックスが付かないように */
}

.production,.consulting,.development{
    text-align: center;/* サービスメニュー名を各要素の垂直中央に */
    width:230px;/* ●●●修正箇所●●●240pxから230pxへ  各要素の横幅*/
    padding: 20px 0;/* 各要素の上下の内側の余白 */
    border: solid 3px #6e6e6e;/* 各要素を囲む線 */
    margin-bottom: 10px;/* 課題の見本のように各要素の下に余白 */
    cursor: pointer;/* カーソルを乗せるとポインターになる */
    transition: background-color 0.5s linear;/* ●●●第3回課題修正箇所●●●0.5秒間かけて背景色が等速で変化 */
}

@media screen and (max-width: 1150px){
    .center_text{
        font-size: 60px;/* 横幅1150px以下の場合中央の文字を60pxへ→元々100pxで、100pxがギリギリ改行されず表示されるのが1150px */
    }
}
@media screen and (max-width: 700px){
    .center_text{
        font-size: 30px;/* 横幅700px以下の場合中央の文字を30pxへ→60pxが改行されず多少の余裕を持って表示されるのが700px */
    }
}

@media screen and (max-width: 750px){
    .service_menu{
        flex-flow: column wrap;/* 横幅750px以下の場合flexで横に並べたservice_menuを垂直に縦に並べる */
        align-items: center;/* 縦に並べたservice_menuを中央に */
    }
    .header_menu li{
        display: none;/* 横幅750px以下の場合にheader_menu内のli要素を非表示に */
    }
}

.production:hover{
    background-color: #b3ffff;
}


.consulting:hover{
    background-color: #ffdea0;
}


.development:hover{
    background-color: #a7ff99;
}

.explanation_box{
    margin: 0 auto;/* 外側の余白　上下0　左右オート */
    padding: 0 10px;/* 内側の余白　上下0　左右10px */
    max-width: 780px;/* 最大横幅780px */
}

.service_explanation{
    margin: 0 auto 60px auto;/* 外側の余白　上0　左右オート　下60px */
    height: 100px;/* 高さ100px */
    border: solid 3px #6e6e6e;/* 要素を囲む線 */
}

@media screen and (max-width: 650px){
    .service_explanation{
        height: 300px;/* 横幅650px以下の場合にコンテンツの説明文のボックスの高さを300pxへ */
    }
}

html {
	scroll-behavior: auto;/* #リンククリックで同名idへ即座にスクロール */
}

.about_title{
    text-align: center;/* 中央寄せ */
    padding: 30px;/* サービスの上下の余白 */
    font-weight: bold;/* サービスを太字に */
    font-size: xx-large;/* サービスの文字サイズを大きく */
}

.about_explanation{
    text-align: center;/* 中央寄せ */
    word-break: break-word;/* 中央寄せ */
    font-size: xx-large;/* 文字を大きく */
    font-style: italic;/* 文字を斜めに */
    font-weight: bolder;/* 太字に */
    margin: 0 auto;/* 外側の余白 上下0 左右オート */
    padding: 0 10px;/* 内側の余白 上下0 左右10px */
    max-width: 670px;/* 最大横幅780px */
    font-family: 'Noto Sans JP', sans-serif;/*文字フォントをNoto Sans JPに */
}

.underline{
    text-decoration: underline;/* 下線を引く */
    text-decoration-thickness: 15px; /*下線の太さ */
    text-underline-offset: -10px; ;/*文字に被るように */
    text-decoration-color: #f29100;/*下線の色 */
}

.contact{
    text-align: center;/*中央寄せ */
    padding: 30px;/* 上下の余白 */
    font-weight: bold;/* 太字に */
    font-size: xx-large;/* 文字サイズを大きく */
}

form {
    max-width: 450px;/*フォームの横幅 */
    margin: 0 auto;/*横幅自動調整 */
    padding: 0 10px;/*フォームの左右の内側余白 */
}

input,select{
    display: block;/*ブロックに変換 */
    width: 100%;/*入力欄を横幅いっぱいに */
    margin-bottom: 10px;/*入力欄下に10pxの外側余白 */
    padding: 10px 0;/*入力欄の上下に10pxの内側余白 */
}

label{
    display: block; /*ブロックに変換 */

}

.required {/*※必須を小さい赤文字 */
    color: red;
    font-size: small;

}

.not_required{/*※任意を小さいグレー文字 */
    color: gray;
    font-size: small;
}

input::placeholder {
    color: gray; /* 入力欄の例をグレーに */
}

@media screen and (max-width: 500px){
    form{
        max-width: 320px;/* 横幅500px以下の場合フォーム横幅を最大320pxに */
    }
}

.thanks_text{
    display: grid;/*グリッドセルを作成 */
    place-items: center;/*要素を中央に */
    height: 100vh;/*要素の高さを画面いっぱいに */
    font-size: 40px;/* 文字サイズ */
}


@media screen and (max-width: 750px){
    
.thanks_text{
    font-size: 30px;/* 750px以下でサンクステキストの文字サイズを30px */
}
    header{
        padding: 25px 0;/* 750px以下でヘッダーの内側の余白を追加→ハンバーガーメニュー出現と同時にヘッダー領域を太くする */
    }
}

@media screen and (max-width: 550px){
    
    .thanks_text{
        font-size: 18px;/* 750px以下でサンクステキストの文字サイズを18px */
}
}

/* -------以下、ハンバーガーメニュー -------*/

@media screen and (min-width: 751px){
    
    .nav_toggle{
        display: none !important;/*751px以上でハンバーガーメニューのボタンを非表示に  */
}
}

/*以下、ハンバーガーアイコンに関して*/
.nav_toggle {/*アイコンの親要素*/
    display: flex; /* フレックスコンテナとして設定 */
    flex-direction: column; /* 縦並びにする */
    justify-content: space-between; /* 各線の間にスペースを均等に配置 */
    width: 28px; /* 横幅28ピクセル */
    height: 24px; /* 縦幅24ピクセル */
    margin-left: auto; /* 左側の余白を開けて右に寄せる */
}

.nav_toggle i {/*アイコンを構成する線*/
    display: block;/*ブロック要素に変換 */
    width: 100%;/*親要素のnav_toggleいっぱいに広がる */
    height: 2px;/*線の太さを2ピクセル */
    background-color: #fff;/*線の色を白 */
    transition: transform .5s, opacity .5s;/*変形や透過の変化に0.5秒かける */
}

.nav_toggle.show i:nth-child(1) {/*アイコンの上の線*/
    transform: translateY(10px) rotate(-45deg);/*10px下がって、時計回りに45度動く */
}

.nav_toggle.show i:nth-child(2) {/*アイコンの真ん中の線 */
    opacity: 0;/*透明にする(opacity→透過度 0が完全に透明 1が完全に不透明) */
}

.nav_toggle.show i:nth-child(3) {/*アイコンの下の線 */
    transform: translateY(-12px) rotate(45deg);/*12px上がって、時計回りに45度動く */
}
/*以上、ハンバーガーアイコンに関して*/


/*以下、メニューに関して*/
.nav.show {/* メニューにshowが付与されたら→ボタンクリックで付与 */
    display: block;  /* メニューが表示される */
}

.nav {/*ボタンを押したときにあらわれる3項目のメニュー */
    position: fixed;/*表示したメニューを固定→スクロールしても動かないように */
    width: 100%;/*横幅いっぱいに */
    display: none;  /* メニューは初期状態で非表示 */
    transition: opacity 0.2s ease-in-out; /* メニューが表示される際にフェードイン・アウト ease in out→最初と最後が遅く、真ん中は速く */
}

.nav_menu_li.show {/* メニューにshowが付与されたら(この要素にはメニューが開ききった時の内容を入れる) */
    height: 80px;  /* 80pxの高さで表示 */
    border-bottom: 2px solid #fff;/*各メニューに白下線 */
}

.nav.show .nav_menu_ul:first-child {
    border-top: 2px solid #fff;/*最初の要素のtopに白線 */
}

.nav_menu_li { /* 各メニュー*/
    list-style-type: none;/*点を消す */
    text-align: center;/*中央寄せ */
    background-color: #1A48A6;/*背景色*/
    height: 0;  /* 初期状態では高さを0に */
    overflow: hidden;/*要素からはみ出たものは非表示 → メニューオープン時に一瞬『我が社について』が領域をはみ出るため */
    transition: height 0.1s ease-out, padding 0.1s ease-out; /*0.1秒でメニューの高さが設定値まで高くなる */
    display: flex;  /* フレックスボックスを使用 */
    justify-content: center;  /* 水平中央に配置 */
    align-items: center;  /* 垂直中央に配置 */
}
/*以上、メニューに関して*/


/* -------以上、ハンバーガーメニュー -------*/

.nav_menu_li a {/* メニューのクリック領域を広げるために追加 */
    display: flex; /*フレックスコンテナに変更 */
    justify-content: center; /* 水平方向中央 */
    align-items: center; /* 垂直方向中央 */
    width: 100%;/* 横幅いっぱいに */
    height: 100%;/* 縦幅いっぱいに */
}

#about,#service,#contact{
    scroll-margin-top: 80px; /* リンクヵ所に移動した際に上にヘッダーの高さ分の余白を持つ */
}